{% extends 'base.html' %}

{% load static %}

{% block content %}


<body>

    <div class="contenedor">

        <p></p>
        <div class="direccion">
            <h4>Dirección</h4>
            DUOC UC Padre Alonso de Ovalle 1586, Santiago Centro.
        </div>
        <p></p>
        <div class="telefono">
            <h4>Contacto</h4>
            <p>Teléfono: (2) 4877 5902</p>
            <p>Celular: (9) 7352 4622</p>
        </div>
        <p></p>
        <div class="correo">
            <h4>E-mail</h4>
            <p>somosdeduoc@duocuc.cl</p>
        </div>
        <div class="volver">
            <a href="servicios.html">
                <h5>Volver Atrás</h5>
            </a>
        </div>
        <p></p>
    </div>

    
</body>

{% endblock content %}